@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>



<address>
    <strong>Email:</strong>   <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">cgeconomou@hotmail.com</a><br />
    <strong>Github:</strong> <a href="https://github.com/cgeconomou">https://github.com/cgeconomou</a>
</address>